*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    background-color: blue;
} */

img {
    max-width: 100%;
}

.countries-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-top: 50px;
    gap: 30px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.details {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}